/build*/
/artifacts/
/.cache/
__pycache__/
*.py[cod]
/vcpkg/
.delete_test
.cursor/
.vscode/
/assets/models/
/assets/textures/*
!/assets/textures/tonemap_aces2_sdr_64.ktx2
!/assets/textures/tonemap_agx_sdr_64.ktx2
/logs/*.log
/docs/
/.scratch/
